= link_to "Back to All Artists", artists_path
%br

%h2
  = @artist.name
%p
  = @artist.image_path
%br
= link_to "Edit Artist", edit_artist_path(@artist)
%br
= link_to "Delete", artist_path(@artist), :method => :delete