%h2 New Song
%br
= link_to "Back to Artist", artist_path(@artist)
%br
%h3 Add a new song for =@artist.name

= form_for [@artist, @song] do |f|
  %p
  = f.label :title
  %br
  = f.text_field :title
  %p
  = f.submit